div.cck_multiple_field_remove_button {
	float: right;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: url("../images/buttons.png") repeat-x scroll 0 0 transparent;
	border-color: #E4E4E4 #D2D2D2 #B4B4B4;
	border-image: none;
	border-radius: 20px 20px 20px 20px;
	border-style: solid;
	border-width: 1px;
	color: #5A5A5A;
	cursor: pointer;
	font-family: "Lucida Grande",Verdana,sans-serif;
	font-size: 1.077em;
	font-weight: normal;
	margin-bottom: 1em;
	margin-right: 1em;
	padding: 4px 17px;
	text-align: center;
}
.textarea_margin_class{
	margin-top:10px;
}
.cck_multiple_field_remove_desc{
	font-weight:bold;
}